*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
    &__search {
        width: 80%;
        padding-right: 20px;
    }
    &__nav-list{
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }
}
.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width: 500px) {
    .container {
        &__nav{
            display: none;
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #1c1c1c;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
            &-list{
                flex-direction: column;
                align-items: end;
                li a {
                    color: white;
                }
            }
            
        }
    }
    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        cursor: pointer;
        background-color: transparent;
    }
    .close-menu {
        color: #fff;
    }
    .visible {
        opacity: 1;
        visibility: visible;
    }
}

