* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    &__search-input {
        width: 100%;
        border-radius: 5px;
        position: relative;
        box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
    }
    &__input-search {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 55px;
        padding: 0 60px 0 20px;
        font-size: 18px;
    }
    &__suggestions{
        padding: 0;
        &-item {
            list-style: none;
            width: 100%;
            padding: 8px 12px;
            border-radius: 5px;
            &:hover {
                background-color: #DDD;
                cursor: pointer;
            }
        }
    }
    &__button-search,
    &__button-remove  {
        position: absolute;
        top: 15px;
        right: 25px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        .icon {
           font-size: 32px;
        }
    }
    &__button-remove {
        border-left: 0px;
        color: red;
    }
}